<a href="https://colab.research.google.com/github/darmsDD/Aprendizado-de-M-quina/blob/main/students_grades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

O dataset utilizado contém notas dos alunos em disciplinas durante a graduação. O meu objetivo é encontrar um correlação entre as notas de 2 disciplinas diferentes.

Importação de bibliotecas utilizadas

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math

In [ ]:
df=pd.read_csv('./Grades.csv') # Leitura do arquivo

In [ ]:
df.head() # Visualização do arquivo

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

A visualização abaixo mostra as 2 disciplinas que serão utilizadas.

In [ ]:
df[['Seat No.','PH-121','HS-101']]

     Seat No. PH-121 HS-101
0    CS-97001     B-     D+
1    CS-97002      A      D
2    CS-97003      A      B
3    CS-97004      D     C+
4    CS-97005     A-     A-
..        ...    ...    ...
566  CS-97567      B      A
567  CS-97568     A+      A
568  CS-97569      B      A
569  CS-97570      A     B+
570  CS-97571      C      D

[571 rows x 3 columns]

Como as notas estão em um sistema de letras, realizei um tratamento dos dados para converter as notas em número.

In [ ]:
df = df.replace(['A+','A','A-','B+','B','B-',
                 'C+','C','C-','D+','D','D-','F','WU'],
                [100,98,93,90,85,80,75,70,65,60,55,50,0,0])
df[['Seat No.','PH-121','HS-101']]

     Seat No.  PH-121  HS-101
0    CS-97001      80      60
1    CS-97002      98      55
2    CS-97003      98      85
3    CS-97004      55      75
4    CS-97005      93      93
..        ...     ...     ...
566  CS-97567      85      98
567  CS-97568     100      98
568  CS-97569      85      98
569  CS-97570      98      90
570  CS-97571      70      55

[571 rows x 3 columns]

A partir daqui são realizadas todas as contas.

Mean

In [ ]:
ph_average = 0 
hs_average = 0
for i in range(len(df)):
  ph_average+= df.loc[i, "PH-121"]
  hs_average+= df.loc[i, "HS-101"]

ph_average /= len(df)
hs_average /= len(df)
print("PH_average",ph_average)
print("HS_average",hs_average)

PH_average 83.92119089316988
HS_average 78.50262697022767

Sample variance

In [ ]:
ph_variance = 0 
hs_variance = 0
for i in range(len(df)):
  ph_variance+= (df.loc[i, "PH-121"] - ph_average)**2
  hs_variance+= (df.loc[i, "HS-101"] - hs_average)**2

ph_variance /= len(df)
hs_variance /= len(df)
print("PH_variance",ph_variance)
print("HS_variance",hs_variance)

PH_variance 221.16892047319232
HS_variance 178.83493180305558

Sample standard deviation

In [ ]:
ph_standard_deviation = math.sqrt(ph_variance)
hs_standard_deviation = math.sqrt(hs_variance)
print("PH_standard_deviation",ph_standard_deviation)
print("HS_standard_deviation",hs_standard_deviation)

PH_standard_deviation 14.87174907242562
HS_standard_deviation 13.372917849259958

Sample covariance

In [ ]:
sample_covariance = 0 
for i in range(len(df)):
  ph = (df.loc[i, "PH-121"] - ph_average)
  hs = (df.loc[i, "HS-101"] - hs_average)
  sample_covariance += ph*hs

sample_covariance/=len(df)
print("Sample_covariance",sample_covariance)

Sample_covariance 85.3215730536956

Sample correlation coefficient

In [ ]:
sample_correlation_coefficient= sample_covariance/(ph_standard_deviation*hs_standard_deviation)
print("Sample_correlation_coefficient",sample_correlation_coefficient)

Sample_correlation_coefficient 0.4290131734863744

O resultado foi 0.42. Assim pode-se dizer que existe uma associação moderada entre as notas dessas 2 disciplinas (PH-121 e